@mainColor: #333;

@import "pizza/pizza-card";
@import "pizza/mainp";
@import "pizza/label";
@import "pizza/top";
@titleColor: #ec6a1c;
@someColor: #a1a1a1;
@heightbottom: 150px;
@heighttop: 80px;
@maxrightwidth: 200px;
@font-weight: 700;

