<% include common/header.ejs %>

<!-- TOP NAVBAR  END-->
        <div class="col-xs-8 col-md-8 col-lg-9 leftpanel">
                <!-- PIZZA CONTENT -->
                <div class="pizza-cont">
                    <center>
                        <div class="mainpanel">
                            <div class="pizza-all">
                                <h2>
                                    <span id="type" class="count-tile">Усі піци</span>
                                    <span id="quantity" class="badge orange pizza-count ">9</span>
                                </h2>

                                <div class="pizza-vars">
                                <ul class="nav nav-pills all-pizza-vars">
                                    <li id="all" role="presentation" class="active var-button" ><a href="#">Усі</a></li>
                                    <li id="meat" role="presentation" class="var-button" ><a href="#">М'ясні</a></li>
                                    <li id="pineapple" role="presentation" class="var-button" ><a href="#">З ананасами</a></li>
                                    <li id="mushroom" role="presentation" class="var-button" ><a href="#">З грибами</a></li>
                                    <li id="ocean" role="presentation" class="var-button" ><a href="#">З морепродуктами</a></li>
                                    <li id="vegan" role="presentation" class="var-button" ><a href="#">Вегетеріанські</a></li>
                                </ul>
                                </div>
                            </div>
                            <div class="pizza-variants" id="pizza_list">
                                
                            </div>
                        </div>
                    </center>
                </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-3 rightpanel">
             <div class="inside">
                 <div class="row-one">
                     <span class="orders-title">
                         Замовлення
                         <span id="order-item-count" class="badge orange pizza-count">0</span>
                     </span>
                     <a class="text-muted clear-order">Очистити</a>
                 </div>
                 
                 <div id="cart" class="row-two">
                     <div class="no-order">
                         <h4 class="small">Пусто в холодильнику?</h4>
                         <h4 class="small">Замовте піцу!</h4>
                     </div>
                 </div>
                 
                 <div class="row-three">
                     <div class="order-total-price">
                         <span class="">Сума замовлення</span>
                         <span class="total-price">0 грн.</span>
                     </div>
                     <a href="./order.html" class="btn btn-warning btn-lg btn-block submit">Замовити</a>
                 </div>
            </div>
        </div>
   

<% include common/footer.ejs %>