    </div>
    <div class="labels">
        <div class="discount-before top-disc">
            <img src="assets/images/discount.svg" />
        </div>
        <div class="label-first labels-style">
            <div class="label-top">
                Цього<br>тижня<br> на все
            </div>
            <div class="label-discount"> -20%</div>
        </div>
    </div>
    
</div>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
<% if(pageTitle === 'Оформлення замовлення') { %>
<!-- Validator-->
<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
    
<script type="text/javascript" src="assets/js/jquery.validate.js"></script>  
<script type="text/javascript" src="assets/js/validate.js"></script>  
<% } %>
<!--Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>

<!-- Google Maps API -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB0-YsK93krhoyq8O2a58Yo1if4lLj_5ag&libraries=places"></script>

<!-- Autocmplete address -->
<script type="text/javascript" src="assets/js/autocomplete.js"></script>   


</body>
</html>
