.mainpanel {
    margin-top: 90px;
    margin-bottom: 100px;
}

h4{
    font-weight: 600; 
}

.label{
    position:absolute;
    top:-8px;
    right:-10px;
    font-size: @small-text*1.4;      
}
.image{
    width:12px;
    height:12px;
}
.pizza-all{
    width:100%;
}
    .pizza-vars {
        margin-bottom: 30px;

        .all-pizza-vars {
            text-align: center;
            display: inline-block;
            margin: 0px auto;

            a {
                font-size: 14px;
                color: @bootstrap-orange;
            }

            .pizza-count, .active a {
                background-color: @bootstrap-orange;
                color: white;
            }
        }
}

.top-disc{
  top:-15px;
    position:absolute;
    
}
.labels{
    position: relative;
    width:100px;
    position:fixed;
    bottom:0;
    background-color:@bootstrap-orange;
    color:white;
    font-weight: 700;
    font-size: 14px;
    text-align:center;
    text-transform: uppercase;
}