.pizza-card {
    position: relative;
  img {
      width: 70%;
      padding: inherit;
  }

  h3 {
    color: @titleColor;
  }
  h6 {
    color: lighten(@mainColor, 50%);
  }
    p{
        font-size:14px; 
        text-align:left;
    }
}