.pizza-card {
  position: relative;
  img {
    max-width: 250px;
    width: 70%;
    padding: inherit;
  }

  h3 {
    color: @titleColor;
  }
  h6 {
    color: lighten(@mainColor, 50%);
  }

  .btn{
    margin-right: 10px;
  }
  .price{
    text-align: center;
  }

  .icons{
    display: grid;
    margin-left: 10px;
    padding-bottom: 50px;

    .icon-size{
      float: left;
      align-items: baseline;
    }
    .icon-weight{
      float: left;
      align-items: baseline;
    }
    img{
      width: 15px;
      height: 15px;
    }
  }
}