.rightpanel {
    @bgcolor:whitesmoke;
    @secondary-color: #e5e5e5;

    position: fixed;
    z-index:10;
    margin: 0px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: @bgcolor;
    min-height: 175px;
}
 
.title{
        width: 100%;
        height: 10%;
}


.pizza-count{
background-color: @bootstrap-orange;
color: white;
    }

.inside{
    box-sizing: border-box;
    width:100%;
    height:100%;
    
    .row-one{
        height:15%;
        width: 100%;
        box-sizing: content-box;
    }
    .orders-title{
        font-size:@small-text*2;
    }
    .clearorders{
        font-size:@small-text*1.2;
        float:right;
        margin-top: 5px;
    }
    
    .row-two{
        height:70%;
        text-align: center;
        padding-top:50px;
        color:#4e4e4e;
    }
    .row-three{
        height:15%;

}
    
}


    
